.main-layout {
    display: grid;
    grid-template-columns:
        20px 1fr 20px
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>.full {
    grid-column: 1 / -1;
}
.editor-layout {
    display: grid;
    grid-template-rows:
        1fr 20px 1fr;
}

.editor-layout>*:not(:first-child) {
    grid-row: 3;
}



.inputs-layout {
    display: grid;
    grid-template-columns: 1;
}

.gallery-layout {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    margin: 0 auto;
}
.meme-layout{
    display: grid;
    grid-template-columns: repeat(4, minmax(auto,250px));
    gap: 10px;
    margin: 0 auto;
}