.gallery-search input {
    height: 2.375rem;
    border: none;
    width: fit-content;
    border-radius: 12px;
    margin-block-end: 15px;
}
.gallery-search input::placeholder{
    border-block-end: solid 1px black;
    color: #7a7a7a;
    font-family: Montserrat-regular;
    font-size: 1.1875rem;
}
.img-gallery{
    display: block;
    width: 100%;
}
.img-gallery:hover{
   cursor: pointer;
}
.bottom-section-gallery-inside{
    display: flex;
    gap: 41px;
}
.card{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.key-words{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.key-words span:hover{
    cursor: pointer;
    color: gray;
}
