@font-face {
    font-family: BrunoAceSC ;
    src: url(../../FONTS/Bruno_Ace_SC/BrunoAceSC-Regular.ttf);
}
@font-face {
    font-family: Sigmar ;
    src: url(../../FONTS/Sigmar/Sigmar-Regular.ttf);
}
@font-face {
    font-family: VinaSans ;
    src: url(../../FONTS/Vina_Sans/VinaSans-Regular.ttf);
}
@font-face {
    font-family: Montserrat ;
    src: url(../../FONTS/Montserrat/Montserrat-Regular.ttf);
}
